<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JackZ.BestForum.mapper.manual.UserPriorityMapper">

    <select id="findPriorityById" parameterType="INTEGER" resultType="INTEGER">
        SELECT `rank` FROM user_priority
        <where>
            <if test="id != null">
                user_id = #{id}
            </if>
        </where>
    </select>

    <insert id="insertPriority">
        INSERT INTO user_priority (user_id, `rank`, score)
        VALUES (#{userId,jdbcType=BIGINT}, #{rank,jdbcType=INTEGER}, #{score,jdbcType=INTEGER})
    </insert>
</mapper>